<p id="notice"><%= notice %></p>

<p>
  <strong><%= @comment.post_id %></strong>
</p>

<p>
  <%= @comment.body %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
