<p id="notice"><%= notice %></p>

<p>
  <strong> <h3><%= @post.title %></h3></strong>

</p>

<p>
  <i>Hashtags: <%= @post.hashtags %></i>
</p>

<p>
  <%= @post.body.html_safe %>
</p>

<p>
  <strong>Reading time:</strong>
  <%=  @post.body.reading_time :format => :approx %>

</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
